/*  */

.main{
    width: 100%;
    height: auto;
    background-color:#AAB5C2;
}

#navMain{
    width: 100%; /*Se extiende lo que está en el contenedor padre. El padre es el div con clase .main, osea tendrá el 100%*/
    height: 60px;
    background-color:#12273D;
    text-align: center;
}

#navMain > a {
    color: white;
    font-size: 25px;
    text-decoration: none; /*quita la linea del hipervínculo*/
    padding: 0px 20px 0px 20px;/*Se hace el espaciado*/
}
#navMain > a:hover {
    color: #8E9DAD;
    border: solid;
    font-size: 30px;
}

.headerImg{
    width: 370px;
    height: 300px;
    margin: 5px;
}

.description{
    text-align: left;
    font-size: 16px;
    display: inline-block;
    width: 84%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.descriptionTwo{
    text-align: left;
    font-size: 16px;
    display: inline-block;
    width: 84%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

#mainContent{
    width: auto;
    text-align: center;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

footer{
    width: auto;
    text-align: center;
    color:white;
    height: 10%;
    background-image: url("./img/footer.jpg");
    background-color: #1C2B5C;
    display: block;
    margin-top: 10px;
}

footer > p {
    padding: 20px;
}