/*  */

.main{
    width: 100%;
    height: 800px;
    background-color: skyblue;
}

#navMain{
    width: auto; /*Se extiende lo que está en el contenedor padre. El padre es el div con clase .main, osea tendrá el 100%*/
    height: 65px;
    background-color: lightcoral;
    text-align: center;
}

#navMain > a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding-top: 80px;/*Se hace el espaciado*/
}

.headerImg{
    width: 33%;
}